body {
    font-family: 'Lato', sans-serif;
}
.navbar-brand {
    font-family: 'Lustria', serif;
}

.nav-sub-brand {
    font-family: 'Lato';
    font-size:;
}

.navbar-defualt {
    color: #FFCC99;
    background-color: #663333;
}

.navbar-nav>.active {
    background-color: #CC3300
}